.page{
  display:none;
  margin-top:100px;
}
body{
  background-color: #222233;
  color: white !important;
}
.container{
  margin-top: 50px;
}
.nav-link{
  cursor: pointer;
}
.img-fluid{
  width:100%;
}
