include layout.pug
nav.navbar.navbar-expand.fixed-top.navbar-dark.bg-dark
  #navbarNavDropdown.navbar
    ul.navbar-nav
      // NAVIGATION
      li.nav-item
        a.nav-link(href = "/home") Home
      li.nav-item
        a.nav-link(href = "/about") About
      li.nav-item
        a.nav-link.active Contact
.page
  .container
    h1.text-center George Soteriou
    br
    .row
      .col-sm-2
        a(href='https://www.facebook.com/georgesot')
          img.img-fluid(src='static/assets/fb.png')
      .col-sm-2
        a(href='https://twitter.com/GeorgeSoteriou')
          img.img-fluid(src='static/assets/tw.png')
      .col-sm-2
        a(href='https://www.linkedin.com/in/george-soteriou-37196483/')
          img.img-fluid(src='static/assets/li.png')
      .col-sm-2
        a(href='https://github.com/georgesoteriou')
          img.img-fluid(src='static/assets/git.png')
      .col-sm-2
        a(href='https://www.instagram.com/georgesoteriou/')
          img.img-fluid(src='static/assets/in.png')
      .col-sm-2
        a(href='mailto:george@soteriou.me')
          img.img-fluid(src='static/assets/email.png')

