---
layout: default
title: Contact
permalink: /contact
---

nav.navbar.navbar-expand.fixed-top.navbar-dark.bg-dark
  #navbarNavDropdown.navbar
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='about.html') About
      li.nav-item
        a.nav-link.active Contact
      li.nav-item
        a.nav-link(href='public/assets/CV.pdf') CV
#contact.page
  .container
    h1.text-center George Soteriou
    br
    .row
      .col-sm-2
        a(href='https://www.facebook.com/georgesot')
          img.img-fluid(src='public/img/fb.png')
      .col-sm-2
        a(href='https://twitter.com/GeorgeSoteriou')
          img.img-fluid(src='public/img/tw.png')
      .col-sm-2
        a(href='https://www.linkedin.com/in/george-soteriou-37196483/')
          img.img-fluid(src='public/img/li.png')
      .col-sm-2
        a(href='https://github.com/georgesoteriou')
          img.img-fluid(src='public/img/git.png')
      .col-sm-2
        a(href='https://www.instagram.com/georgesoteriou/')
          img.img-fluid(src='public/img/in.png')
      .col-sm-2
        a(href='mailto:george@soteriou.me')
          img.img-fluid(src='public/img/email.png')
