---
layout: default
title: Home
permalink: /
---

nav.navbar.navbar-expand.fixed-top.navbar-dark.bg-dark
  #navbarNavDropdown.navbar
    ul.navbar-nav
      li.nav-item
        a.nav-link.active Home
      li.nav-item
        a.nav-link(href='/about.html') About
      li.nav-item
        a.nav-link(href='/contact.html') Contact
      li.nav-item
        a.nav-link(href='public/assets/CV.pdf') CV
.page
  .container
    br
    br
    .row
      .col-lg-3.col-md-4.offset-md-4.offset-lg-0
        img.rounded.mx-auto.d-block.img-fluid(src='public/img/me.jpg')
        .gray [George Soteriou]
      .col-lg-9.col-md-12
        h1.text-center.h1_large Hello!
        h1.text-center
          | This is George Soteriou's home
          br
          | of really cool stuff!
        br
        h2.text-center Feel free to look around!

