<html>
<head>
  <title>George Soteriou</title>

  <meta charset="UTF-8">
  <meta property='og:title' content="George Soteriou's Website"/>
  <meta property='og:description' content="Look around"/>
  <meta property='og:url' content="https://georgesoteriou.com" />
  <meta property="og:image" content="https://georgesoteriou.com/george/assets/me.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">

  <link rel="shortcut icon" href="george/assets/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" type="text/css" href="george/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="george/css/gitgraph.css" />
  <link rel="stylesheet" type="text/css" href="george/css/style.css" />

  <script src="george/js/jquery.min.js"></script>
  <script src="george/js/bootstrap.min.js"></script>
</head>
<body>
    {{ content }}
</body>
</html>
